<!-- Footer Component -->
<footer class="footer">
    <!-- Top Section -->
    <div class="footer-top">
      <div class="footer_top_text">
        <h2>Start Your Real Estate Journey Today</h2>
      <p>
        Your dream property is just a click away. Whether you're looking for a new
        home, a strategic investment, or expert real estate advice, Estatein is
        here to assist you every step of the way.
      </p>
      </div>
      <button class="explore-btn">Explore Properties</button>
    </div>
  
    <!-- Middle Section -->
    <div class="footer-middle">
      <div class="footer-left">
        <div class="footer-logo">
          <img src="assets/Logo.png" alt="Skyscraper">
        </div>
        <div class="footer-subscribe">
          <input type="email" placeholder="Enter Your Email" />
          <button type="submit">
            <img src="assets/sent.svg" alt="Send">
          </button>
        </div>
      </div>
  
      <div class="footer-links">
        <div>
          <h4>Home</h4>
          <ul>
            <li>Hero Section</li>
            <li>Features</li>
            <li>Properties</li>
            <li>Testimonials</li>
            <li>FAQ's</li>
          </ul>
        </div>
  
        <div>
          <h4>About Us</h4>
          <ul>
            <li>Our Story</li>
            <li>Our Works</li>
            <li>How It Works</li>
            <li>Our Team</li>
            <li>Our Clients</li>
          </ul>
        </div>
  
        <div>
          <h4>Properties</h4>
          <ul>
            <li>Portfolio</li>
            <li>Categories</li>
          </ul>
        </div>
  
        <div>
          <h4>Services</h4>
          <ul>
            <li>Valuation Mastery</li>
            <li>Strategic Marketing</li>
            <li>Negotiation Wizardry</li>
            <li>Closing Success</li>
            <li>Property Management</li>
          </ul>
        </div>
  
        <div>
          <h4>Contact Us</h4>
          <ul>
            <li>Contact Form</li>
            <li>Our Offices</li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Bottom Section -->
    <div class="footer-bottom">
      <div class="reserved_par">
        <p>&copy;2023 Estatein. All Rights Reserved.</p>
      <p>Terms & Conditions</p>
      </div>
      <div class="social-icons">
        <img src="assets/fb.png" alt="Facebook">
        <img src="assets/linkedin.png" alt="LinkedIn">
        <img src="assets/twit.png" alt="Twitter">
        <img src="assets/yt.png" alt="YouTube">
      </div>
    </div>
  </footer>
  