<nav class="navbar">
  <div class="logo">
    <img src="assets/Logo.png" alt="Skyscraper">
  </div>
  
  <!-- Menu items -->
  <ul [class.active]="isMenuOpen">
    <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
    <li><a routerLink="/about-us" (click)="toggleMenu()">About Us</a></li>
    <li><a routerLink="/properties" (click)="toggleMenu()">Properties</a></li>
    <li><a routerLink="/services" (click)="toggleMenu()">Services</a></li>
  </ul>

      <!-- Conditionally display Login or User Info -->
      <div *ngIf="!isLoggedIn">
        <button class="login_button">
          <a routerLink="/login" (click)="toggleMenu()">Login</a>
        </button>
      </div>
      
      <!-- User name and Sign Out button for logged-in users -->
      <div *ngIf="isLoggedIn">
        <span class="user-name">{{ user.username }}</span>
        <button class="sign-out_button" (click)="signOut()">Sign Out</button>
      </div>

  <!-- Burger Menu Button -->
  <button class="burger" (click)="toggleMenu()" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
