<section class="hero-section">
    <div class="hero-content">
        <h1>Discover Your Dream Property with Estatein</h1>
        <p>Your journey to finding the perfect property begins here. Explore our listings to find the home that matches your dreams.</p>
        <div class="hero-buttons">
          <button class="learn_button">Learn More</button>
          <button>Browse Properties</button>
        </div>
        <div class="hero-stats">
          <div class="stat">
            <span class="stat-number">200+</span>
            <span class="stat-label">Happy Customers</span>
          </div>
          <div class="stat">
            <span class="stat-number">10k+</span>
            <span class="stat-label">Properties For Clients</span>
          </div>
          <div class="stat">
            <span class="stat-number">16+</span>
            <span class="stat-label">Years of Experience</span>
          </div>
        </div>
      </div>      
    <div class="hero-image">
      <img src="assets/hero.png" alt="Skyscraper">
    </div>
  </section>
  <app-features></app-features>
  <app-featured-properties></app-featured-properties>
<app-client-testimonials></app-client-testimonials>
<app-faq-section></app-faq-section>